/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/*
	Poznámky:
	-- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	-- nadpisy jsou fontem Playfair Display, tučně
	-- veškerý další text na stránce fontem Lora
	-- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/


body {
	margin: 0 auto;
	font-family: 'Lora';
	font-size: 18px;
	line-height: 1.5;
}
h1,h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display';
}
h1 {
	font-size: 52px;
	color:white;
}
h2{
	font-size: 36px;
	color:#3e606b;
}
h3 {
	color:#3e606b;
}
.sekce {
	padding: 80px 0;
	max-width: 1100px;
	margin: 0px auto;
}
/*********===HLAVIČKA===**********/
.header {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	max-width:1100px;
	margin:0px auto;
}

.logo {
	width: 170px;
}
nav ul{
	display: flex;
	list-style: none;
	margin:0;
	padding:0;
}
nav ul li{
	margin-left: 5px;

}
nav ul li a {
	text-decoration: none;
	color: #242424;
	padding: 10px 15px;
}
nav ul li a:hover,
nav ul li a:active  {
	background-color: #f195b2;
	border-radius: 20px;
	color:white;
}
/*************HERO SEKCE***************/
.hero-sekce {
	background: #2E2a28 url(images/cupcake.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}
.hero {
	display:flex;
	flex-direction: column;
}
.hero p,
.hero h1 {
	color:white;
	margin-right: 40%;
}
.hero p {
	font-style: italic;
	font-size: 24px;
}
.hero h1{
	margin-top: 0;
}
/*********************===VÍTEJTE SEKCE===****************/
.vitejte-flex-1 {
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.vitejte-flex-1 h2{
	margin-top:0;
	margin-bottom: 30px;
}
.cukrarka {
	margin-left: 30px;
	width:100%;
	border-radius: 5px;
}
.vitejte-tlacitko {
	margin-top: 50px;
}
.tlacitko-vyrobky {
	text-decoration: none;
	color:white;
	background-color: #f195b2;
	border-radius: 40px;
	padding: 20px 40px;
}
.tlacitko-vyrobky:hover {
	background-color:#d2567d;
}
/**************===NABIDKA SEKCE===*****************/
.nabidka {
	background-color:#f0f0f0 ;
}
.nabidka-flex {
	display: flex;
}
.produkt {
	margin-right: 15px;	
	background-color: white;
	font-size: 15px;
}
.produkt-popis{
	text-align: center;
	padding:20px;
}
.nabidka-flex img {
	width:100%;
}
/*******************===NÁŠ PŘÍSTUP===*************/
.pristup-flex {
	display: flex;
	justify-content: center;
}
.peceni {
	width:100%;
	margin-right: 30px;
	border-radius: 20px;
}
.pristup-pravy {
	display: flex;
	flex-direction: column;
}
.pristup-pravy {
	font-size: 15px;
}
/***********===PATIČKA===*****************/
.paticka {
	background-color:#303339;
	color:white;
	padding:30px 0;
	text-align: center;
	font-size: 15px;
}